# Server Port
PORT=3000

# Neon PostgreSQL Database URLs (Prisma)
# Pooled connection string for application queries
DATABASE_URL="postgresql://user:password@ep-example-pooler.region.aws.neon.tech/neondb?sslmode=require"

# Direct connection string for migrations & schema syncing
DIRECT_URL="postgresql://user:password@ep-example.region.aws.neon.tech/neondb?sslmode=require"